<p>
  ну что друг мой) Тебе таки исполнилось 18, уже не такой таштек (-_/)
  Наконец сможешь гулять после 22:00, законопослушная ты моя)

  Ты конечно знаешь что ты мне дорога, но тебе я этого почему то не говорил, возможно у тебя есть
  какие то сомнения. Так вот знай, что ты всегда на 1 месте. Всегда я в первую очередь вспоминаю и думаю о тебе.
  Всегда стараюсь быть с тобой откровенным.
  Да, ты не всегда единственная (как ты всегда хотела), но ты всегда есть, ты всегда рядом!
  И кому как не тебе я хочу пожелать всего самого лучшего, всегда быть счастливой. Ты в свои 18
  уже знаешь какие цели хочешь достичь в жизни, и ты их непременно достигнешь!
  Ты знаешь какой я немногословный. Но эти редкие, теплые слова сказаны из глубин моей пофигистической душенки.
  И я рад что есть человек которому я могу их сказать.

  Ты так давно ждала этот день, 18 лет, так кайфуй! Это твой день, с Днём Рождения!
</p>
